.aside {
  padding: 20px;
  background-color: $white;
  border-radius: 8px;
  margin-right: 20px;
  width: calc(20% - 20px);

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: $dark-green;
      text-decoration: none;
      margin-bottom: 10px;
      transition: 0.3s;
      padding: 5px;

      &:hover {
        background-color: $lightest-green-hover;
        color: $white;
      }
    }
  }
}
