.header {
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 8;

  h2 {
    color: $dark-green;
    margin: 0;
    padding: 0;
  }
}
