.header {
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  flex-basis: 100%;
  margin-bottom: 20px;

  h2 {
    color: $dark-green;
    margin: 0;
    padding: 0;
  }
}
