.profile {
}

.profile__data {
  color: $half-transparent-gray;
}

.profile__image {
  width: 250px;
  background-color: $lightest-green;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 30px 20px rgba(26, 26, 26, 0.25);

  img {
    width: 100%;
    height: auto;
  }
}
