html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: $regular;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $main-bg-gray;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.scroll-hidden {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  display: none;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.main {
  padding: 50px;
  background-color: $white;
  border-radius: 10px;
  flex-basis: 80%;
}

.error {
  border: 1px solid red;
}

.form-error {
  border: 1px solid red;
  color: red;
  padding: 5px;
}
