// colors

$lightest-green: #6994A8;
$lightest-green-hover: #394f5c;
$light-green: #293942;
$dark-green: #1B262C;
$light-gray: #F9F8FF;
$light-violet: #7971E9;
$half-transparent-gray: #60676d;
$white: #ffffff;

$main-bg-gray: #f2f2f2;

// fonts

$regular: 400;
$semi-bold: 600;
$bold: 700;


// padding

$padding-1920: 200px;
